@import
  url("../scripts/2.8.2r1/build/container/assets/skins/sam/container.css")
  ;

@import
  url("../scripts/2.8.2r1/build/calendar/assets/skins/sam/calendar.css")
  ;

table.sortable {
  table-layout: fixed;
   background-color: #F9FBFD;
  color: #000000; 
  border: 1px solid #D7E5F2;
  border-collapse: collapse;
}

/* Sortable tables */
table.sortable thead {
  background-color: #eee;
  color: #666666;
  font-weight: bold;
  cursor: default;
 
  
}

table.sortable  td {
  border: 1px solid #D7E5F2;
  padding-left: 4px;
}

 