@import
  url("http://localhost/2.8.2r1/build/container/assets/skins/sam/container.css")
  ;

@import
  url("http://localhost/2.8.2r1/build/calendar/assets/skins/sam/calendar.css")
  ;

table.sortable {
  table-layout: fixed;
}

/* Sortable tables */
table.sortable thead {
  background-color: #eee;
  color: #666666;
  font-weight: bold;
  cursor: default;
  font: 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 220px;
  height: 30px;
}

